<div>
  <%= image_tag @post_image.get_image, size:"400x300" %>
  <p>タイトル：<%= @post_image.comic_name %></p>
  <p>説明：<%= @post_image.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpeg' %></p>
  <p>ユーザーネーム：<%= @post_image.user.name %></p>
  <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>

   <% if @post_image.user == current_user %>
     <p><%= link_to "編集", edit_post_image_path(@post_image.id), class: "btn btn-success", method: :get %></p>
   <% end %>

   <% if @post_image.user == current_user %>
     <p><%= link_to "削除", post_image_path(@post_image), class: "btn btn-danger", method: :delete %></p>
   <% end %>
</div>