<div class="container">
 <h2>コミック詳細</h2>
 <br>
 <br>
 <br>

 <div class="row">
  <div class="col-lg-3"><%= image_tag @post_image.get_image, size:"300x400" %></div>

    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <table class="table-borderless table-condensed">
        <tr>
          <td>タイトル</td>
          <td><%= @post_image.comic_name %></td>
        </tr>

        <tr>
          <td>概要</td>
          <td><%= @post_image.caption %></td>
        </tr>

        <tr>
          <td>投稿ユーザー画像　</td>
          <td><%= image_tag @post_image.user.get_profile_image(100,100), class:"rounded-circle";  %></td>
        </tr>

        <tr>
          <td>ユーザーネーム</td>
          <td><%= @post_image.user.name %></td>
        </tr>

         <tr>
          <td>投稿日</td>
          <td><%= @post_image.created_at.strftime('%Y/%m/%d') %></p></td>
        </tr>
      </table>

      <br>
        <% if @post_image.user == current_user %>
         <td><%= link_to "編集", edit_post_image_path(@post_image.id), class: "btn btn-success", method: :get %></td>
        <% end %>

        <% if @post_image.user == current_user %>
         <td><%= link_to "削除", post_image_path(@post_image), class: "btn btn-danger", method: :delete %></td>
        <% end %>

      <div>
      <p>コメント件数：<%= @post_image.post_comments.count %></p>
         <% @post_image.post_comments.each do |post_comment| %>
         <p><%= image_tag post_comment.user.get_profile_image(100,100), class:"rounded-circle"; %></p>
            <%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
            <% end %>
          <% end %>
      </div>

      <div>
          <%= form_with model: [@post_image, @post_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
     </div>

    </div>
  </div>
</div>

