<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-4">
    <h2>Log in</h2>
    <br>

     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table>
        <tbody>
          <tr>
            <div class="field">
            <td><%= f.label :email %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </div>
          </tr>

          <tr>
            <div class="field">
            <td><%= f.label :password %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </div>
          </tr>

          <tr>
            <% if devise_mapping.rememberable? %>
            <div class="field">
            <td><%= f.check_box :remember_me %></td>
            <td><%= f.label :remember_me %></td>
           </div>
           <% end %>
          </tr>

          <tr>
            <div class="actions">
              <td></td>
              <td><%= f.submit 'ログイン',class:"btn btn-success" %></td>
            </div>
            <div>
              <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, class:"btn btn-warning btn-sm btn-block sign_up", method: :post %>
            </div>
          </tr>
        </tbody>
      </table>

    <% end %>
    <%= render "admin/shared/links" %>

    </div>
  </div>
</div>